/* .home-layout{
    display: flex;
    flex-direction: column;
} */

.blank-page{
    width: 100%;
    height: 250px;
    background-color: whitesmoke;
    
}

.blank-page>img{
    width: 144px;
    height: 70%;
    background-color: blueviolet;
    margin-left: 15%;
    cursor: pointer;
}
.blank-page>h4{
    font-weight: normal;
    margin-bottom: 15px;
    margin-left: 15%;
    padding-top: 10px;
}
.blank-page>h3{
    margin-left: 15%;
}
.popUpHome{
   
   right: 30%;
   left: 30%;
   top: 40%;
    position: fixed;
    z-index: 9999;
}
.doc-list{
    width: 50%;
    margin: 10px auto 10px auto;
}
.doc-list-header{
    display: grid;
    width: 50%;
    margin: 10px auto 10px auto;
    grid-template-columns: repeat(2,1fr);

}
.date-created{
    display: flex;
    justify-content: end;
    margin-right: 15px;
}
.my-doc{
    margin-left: 10px;
}
.doc-cards-list{
    display: flex;
}
.card{
    flex: 1;
}
.delete-icon>svg{
    color: grey;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 3px;
    cursor: pointer;
}